#fullpage {
    position: relative;
}

.fp-watermark {
    display: none !important;
}

.section,
.slide{
    background-size: cover;
    background-attachment: fixed;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    transition: opacity 1s ease-in-out;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brandings {
    display: flex; 
    flex-direction: column;
    width: 100% !important; 
    /* height: 100vh; */
  }

  .brandings .panel {
    height: 100% !important;
    width: 100% !important;
  }
 
  .brandings .panel .fp-overflow {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px 45px 40px;
  }

  .brandings .section-concept .fp-overflow {
    padding: 0;
    display: block;
  }
  
  .brandings .info {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 325px;
  
    border-radius: 10px;
    background: #101820;
    padding: 39px 44px 40px 44px;
  }
  
  .brandings .info span {
    color:#7595B6;
    font-family: 'Safiro';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  
  .brandings .info h4 {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .brandings .info p {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .animated-button {
    position: relative;
    overflow: hidden;
  }
  
  .animated-button label {
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    cursor: pointer;
  }
  
  .animated-button label:first-child {
    display: inline-block;
  }
  
  .animated-button .hover-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 12px;
    transform: translateY(100%);
    opacity: 0;
  }
  
  .animated-button:hover .hover-label {
    transform: translateY(0);
    opacity: 1;
  }
  
  .animated-button:hover label:first-child {
    transform: translateY(-100%);
    opacity: 0;
  }

  .scroll-down-button-mobile {
    border-radius: 10px;
    background: rgba(117, 149, 182, 0.40);
    backdrop-filter: blur(10px);
    display: none;
  }

  .scroll-down-button {
    position: fixed;
    top: 92%;
    right: 2%;
    cursor: pointer;
    display: inline-flex;
    /* padding: 12px; */
    align-items: center;
    z-index: 0;
    /* gap: 13px; */
  
    /* border-radius: 10px; */
    /* background: rgba(117, 149, 182, 0.40); */
    /* backdrop-filter: blur(10px); */
    
  }
  
  .scroll-down-button-mobile:hover,
  .scroll-down-button:hover {
    border-radius: 10px;
    /* background: rgb(96 0 18 / 77%); */
    backdrop-filter: blur(10px);
  }
  
  .scroll-down-button button {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  
.mask {
  margin: 0;
  overflow: hidden;
  line-height: 1;
}

.animationInUp.title,
.animationOut.title,
.mask.title {
  margin: 8px 0;
}
  
.animationInUp.description,
.animationOut.description,
.mask.description {
  margin-bottom: 22px;
}
  
.animationInUp span,
.mask span {
  display: block;
}
  
.mask h4,
.mask p,
.mask span,
.mask button {
  animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.mask div:first-child {
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.animationInUp h4,
.animationInUp p,
.animationInUp span,
.animationInUp button {
  animation: reveal-up 2s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.animationInUp div:first-child {
  animation: reveal-up 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.animationInUp,
.animationOut {
  margin: 0;
  overflow: hidden;
  line-height: 1;
}

.animationInUp span,
.animationOut span {
  display: block;
}

.animationInUp div {
  animation: fade-in-div 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.animationOut div {
  animation: fade-out-div 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.animationOut h4, 
.animationOut p,
.animationOut span,
.animationOut button {
  animation: fade-out 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.fixed-info {
    position: fixed;
    top: 65%;
    left: 16%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  animation: fade-out-initial 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
  
@keyframes reveal-up {
  0% {
    opacity: 0;
    transform: translate(0,-100%);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes fade-in-div {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
  
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0,100%);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(0,0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -100%);
  }
}

@keyframes fade-out-div {
  0% {
    opacity: 1;
    transform: translate(0,0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 100%);
  }
}

@keyframes fade-out-initial {
  0% {
    opacity: 1;
    transform: translate(0,0);
  }
  100% {
    opacity: 1;
    transform: translate(0, -100%);
  }
}

@media only screen and (min-width: 280px) and (max-width: 475px) {

  .menu-toggle {
    width: 40px;
    height: 40px;
    gap: 8;
  }

  .brandings .panel .fp-overflow {
    /* position: fixed; */
    top: 0;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 0 16px 60px 16px;
    justify-content: center;
  }

  .brandings-button .scroll-down-button {
    display: none;
  }

  .brandings-button .scroll-down-button-mobile {
    display: inline-flex;
    position: fixed;
    top: 93%;
    left: 45%;
    cursor: pointer;
    justify-content: center;
    padding: 10px 15px;
    align-items: center;
    gap: 13px;
    margin-top: 1px;

  }

  .brandings-button .scroll-down-button-mobile a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 280px) and (max-width: 555px) {
}

@media only screen and (min-width: 280px) and (max-width: 555px) {
  .brandings { 
    height: 292vh;
  }
  .brandings .panel .fp-overflow {
    position: fixed;
    top: 0;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 0 16px 120px 16px;
    justify-content: center;
  }
}

@media only screen and (max-width: 555px) and (-webkit-min-device-pixel-ratio: 3) {
  .panel {
      background-attachment: scroll;
  }

  .brandings {
    height: 288vh;
  }

  .brandings .panel .fp-overflow {
    padding: 0 16px 165px 16px;
  }
}

@media only screen and (max-width: 555px) and (-webkit-min-device-pixel-ratio: 4) {
  .brandings {
    height: 295vh;
  }
}
