#fullpage {
    position: relative;
}

.fp-watermark {
    display: none !important;
}

.section,
.slide{
    background-size: cover;
    background-attachment: fixed;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    transition: opacity 1s ease-in-out;
}

.brandings {
    display: flex; 
    flex-direction: column;
    width: 100vw !important; 
    height: 100vh;
  }
  
  .brandings .panel .fp-overflow{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
    align-items: flex-end;
    padding: 0 40px 45px 40px;
  }
  
  .brandings .info {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 325px;
  
    border-radius: 10px;
    background: #101820;
    padding: 39px 44px 40px 44px;
  }
  
  .brandings .info span {
    color:#7595B6;
    font-family: 'Safiro';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  
  .brandings .info h4 {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .brandings .info p {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .animated-button {
    position: relative;
    overflow: hidden;
  }
  
  .animated-button label {
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    cursor: pointer;
  }
  
  .animated-button label:first-child {
    display: inline-block;
  }
  
  .animated-button .hover-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 12px;
    transform: translateY(100%);
    opacity: 0;
  }
  
  .animated-button:hover .hover-label {
    transform: translateY(0);
    opacity: 1;
  }
  
  .animated-button:hover label:first-child {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .scroll-down-button {
    position: fixed;
    top: 92%;
    right: 2%;
    cursor: pointer;
    display: inline-flex;
    padding: 12px;
    align-items: center;
    gap: 13px;
  
    border-radius: 10px;
    background: rgba(117, 149, 182, 0.40);
    backdrop-filter: blur(10px);
    
  }
  
  .scroll-down-button:hover {
    border-radius: 10px;
    background: rgb(96 0 18 / 77%);
    backdrop-filter: blur(10px);
  }
  
  .scroll-down-button a {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  
.mask {
  margin: 0;
  overflow: hidden;
  line-height: 1;
}
  
.animationOut.title,
.mask.title {
  margin: 8px 0;
}
  
.animationOut.description,
.mask.description {
  margin-bottom: 22px;
}

.maskDiv div:first-child {
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
}
  
.mask span {
  display: block;
}
  
.mask h4,
.mask p,
.mask span,
.mask button {
  animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.animationOut {
  margin: 0;
  overflow: hidden;
  line-height: 1;
}

.animationOut span {
  display: block;
}

.animationOut div {
  animation: fade-out-div 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}


.animationOut h4, 
.animationOut p,
.animationOut span,
.animationOut button {
  animation: fade-out 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.mask div:first-child {
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

/* .animation {
  animation: reveal 1s  cubic-bezier(0.77, 0, 0.175, 1) 0s;
} */

.fixed-info {
    position: fixed;
    top: 65%;
    left: 16%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;
}
  
  
  
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0,100%);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(0,0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -100%);
  }
}

@keyframes fade-out-div {
  0% {
    opacity: 1;
    transform: translate(0,0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 100%);
  }
}

