
.footer,
.pre-footer {
    background-color: white;
    position: relative;
    z-index: 3;
}

.pre-footer .siguenos,
.pre-footer .stalkeanos,
.pre-footer .talento,
.pre-footer .escribenos {
    display: flex;
    padding: 75px 158px 61px 158px;
    border-bottom: 1px solid #101820;
}

.pre-footer .stalkeanos {
    align-items: center;
}

.pre-footer .siguenos p,
.pre-footer .stalkeanos p,
.pre-footer .talento p,
.pre-footer .escribenos p {
    color: #7595B6;
    font-family: 'Safiro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.pre-footer .siguenos p strong,
.pre-footer .stalkeanos p strong,
.pre-footer .talento p strong,
.pre-footer .escribenos p strong {
    color: #101820;
    font-family: 'Safiro';
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.pre-footer	.siguenos .container,
.pre-footer .stalkeanos .container,
.pre-footer .talento .container,
.pre-footer .escribenos .container {
    width: 50%;
}

.pre-footer	.siguenos .container div,
.pre-footer .stalkeanos .container div,
.pre-footer .talento .container div,
.pre-footer .escribenos .container div {
    overflow: hidden;
    height: fit-content;
}

.pre-footer .talento .container a,
.pre-footer .escribenos .container div a,
.pre-footer .stalkeanos .stalk a.reveal,
.pre-footer .siguenos .stalk a.reveal,
.pre-footer .talento .stalk a.reveal,
.pre-footer .escribenos .stalk a.reveal,
.pre-footer .stalkeanos .container p.reveal,
.pre-footer .siguenos .container p.reveal,
.pre-footer .talento .container p.reveal,
.pre-footer .escribenos p.reveal {
    animation: reveal .8s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.pre-footer .talento a,
.pre-footer .escribenos a {
    color: #101820;
    font-family: 'Safiro';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -2.4px;
    cursor: pointer;
}

.pre-footer .siguenos .container a:hover:nth-child(odd),
.pre-footer .stalkeanos .container a:hover:nth-child(even),
.pre-footer .talento a:hover {
    color: #2A00FF;
    font-family: 'Safiro';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -2.4px;
    transition: ease 0.5s;
}
.pre-footer .siguenos .container a:hover:nth-child(even),
.pre-footer .stalkeanos .container a:hover:nth-child(odd),
.pre-footer .escribenos a:hover {
    color: #FF2951;
    font-family: 'Safiro';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -2.4px;
    transition: ease 0.5s;
}

.pre-footer .siguenos .container a:hover:nth-child(odd),
.pre-footer .siguenos .container a:hover:nth-child(even),
.pre-footer .stalkeanos .container a:hover:nth-child(odd),
.pre-footer .stalkeanos .container a:hover:nth-child(even) {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: normal;
}

.pre-footer .siguenos .stalk,
.pre-footer .stalkeanos .stalk {
    gap: 40px;
    display: flex;
    height: fit-content;
    overflow: hidden;
}

.pre-footer .siguenos a,
.pre-footer .stalkeanos a {
    color: #101820;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.footer {
    padding: 98px 43px 17px 43px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer .texto-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 89px;
}

.footer .texto-footer a,
.footer .texto-footer span {
    color: #ACB6C0;
    text-align: center;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    transition: ease 0.5s;
}

.footer .texto-footer a:hover {
    color: #101820;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}