
.contact {
    position: relative;
    z-index: 3;
    background-color: #101820;
    padding: 118px 154px 144px 102px;
    display: flex;
    flex-wrap: wrap;
    transition: background-color .8s ease;
}

.contact .title-contact {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.contact .title-contact h2 {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 64px */
    letter-spacing: -3.2px;
}

.contact .title-contact h2 strong {
    font-family: "Behind The Nineties";
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.92px;
}

.contact .title-contact .first,
.contact .title-contact .second,
.contact .title-contact .third {
    overflow: hidden;
    position: relative;
    width: fit-content;
}

.contact .title-contact .first h2.reveal {
    animation: reveal .8s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.contact .title-contact .second h2.reveal {
    animation: reveal 1.1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.contact .title-contact .flecha-roja.reveal,
.contact .title-contact .figura-contacto.reveal,
.contact .title-contact .third h2.reveal {
    animation: reveal 1.3s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.contact .title-contact .flecha-roja {
  position: absolute;
   top: 50%;
   left: 30%;
}

.contact .title-contact .figura-contacto {
    position: absolute;
    top: 64%; 
    left: 79%;
}

.contact .form {
    padding: 48px 0 0 0;
    color: #FFF;
}

.contact .form .name.reveal,
.contact .form .email.reveal,
.contact .form .phone.reveal,
.contact .form .message.reveal {
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.contact .form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .form label {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    transition: ease 0.2s;
}

.contact .form .terms-submit .submit label {
    transition: 0s;
}

.contact .form .name,
.contact .form .name,
.contact .form .email,
.contact .form .phone,
.contact .form .message {
    margin-bottom: 40px;
}

.contact .form .name input,
.contact .form .email input,
.contact .form .phone input,
.contact .form .message input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    height: 40px;
    caret-color: white;
    color: #FFF;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    
}

.contact .text-danger,
.contact .form .name span,
.contact .form .email span,
.contact .form .phone span,
.contact .form .message span {
    color: #FF90A5 !important;
    font-family: 'Safiro';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 3px;
}

.contact .form .terms-submit .terms label a,
.contact .form .terms label {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: ease 0.5s;
}

.contact .form .terms-submit .terms label a {
    color: #7595B6;
    cursor: pointer;
}

.contact .form input::placeholder{
    color: #415970;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

::-webkit-input-placeholder {
    color: #415970;
}

.contact .form .name,
.contact .form .email,
.contact .form .phone,
.contact .form .message {
    width: 48%;
}

.contact .form .phone .code-input {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.contact .form .phone .code-input select {
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    appearance: none; 
    width: 60px; 
    cursor: pointer;
}

.contact.contact-hidden .form .phone .code-input select {
    color: #101820 !important;
}

/* .contact .form .phone .code-input select#code {
    background-image: url(/src/assets/icons/selector.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center right;
    transition: ease 0s;
    margin-right: 11px;
} */

.contact .form .phone .code-input .container {
    display: flex;
    align-items: center;
}

.contact .form .phone .code-input .container .value-code {
    color: #415970 !important;
    margin: 0;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.contact .form .phone .code-input option {
    background: transparent;
    color: black;
    width: 50px;
}

.contact .form .phone .code-input input {
    border-bottom: 0;
}


.contact .form .terms-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact .form .terms-submit.reveal {
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.contact .form .terms-submit .terms {
    display: flex;
    align-items: flex-end;
    width: 50%;
    gap: 12px;
}

.contact .form .terms-submit .terms input {
    border-radius: 5px;
    border: 1px solid white !important;
    background-color: transparent;
    color: transparent;
    appearance: none;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0;
    transition: ease 0.5s;
    
}

.contact.contact-hidden .form .terms-submit .terms input {
    border: 1px solid black !important;

}

.contact .form .terms-submit .terms input:checked {
    background-color: #7595B6;
    background-image: url(../../../../assets/icons/check.svg);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: center center;
    border: 0 !important;
    transition: ease 0s;
}

.contact .form .terms-submit .submit button {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 127px;
    height: 48px;
    max-height: 48px;
}

.contact .form .terms-submit .submit label {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact .form .terms-submit .submit button:hover label {
   color: #101820;
}
.contact .form .terms-submit .submit button:hover img {
   filter: invert();
}

.contact .form .terms-submit .terms label a:hover {
    color: #7595B6;
    font-family: 'Safiro';
    font-style: normal;
    font-weight: 400;
}

.contact .form button .button__label.hover-label {
    left: 23% !important;
}

.contact.contact.contact-hidden {
    background-color: white !important;
}

.contact.contact-hidden h2,
.contact.contact-hidden label,
.contact.contact-hidden input,
.contact.contact-hidden span,
.contact.contact-hidden a {
    color: #101820 !important;
}

.contact.contact-hidden input {
    border-bottom: 1px solid #101820 !important;
}

.contact.contact-hidden div.code-input {
    border-bottom: 1px solid #101820 !important;
}

.contact.contact-hidden div.code-input input {
    border-bottom: 0px solid #101820 !important;
}

.contact.contact-hidden .form .terms-submit .submit label {
    color: white !important;
}

.contact .form input:focus::placeholder {
    color: white;
}

.contact.contact-hidden .form input:focus::placeholder {
    color: #7595B6;
}


@media only screen and (min-width: 2048px) {
    .contact .title-contact h2 {
        font-size: 116px;
        line-height: 116px;
    }

    .contact .title-contact .flecha-roja {
        left: 31%;
        top: 55%;
    }

    .contact .title-contact .figura-contacto {
        top: 68%;
    }

    .contact .form .terms-submit .terms label a,
    .contact .form .terms label {
        font-size: 21px;
    }
    .contact .form label {
        font-size: 30px;
        line-height: 30px;
    }
    .contact .form .name input::placeholder, 
    .contact .form .email input::placeholder, 
    .contact .form .phone input::placeholder, 
    .contact .form .message input::placeholder
    .contact .form .name input, 
    .contact .form .email input, 
    .contact .form .phone input, 
    .contact .form .message input {
        font-size: 21px !important;
    }

    .contact .form .terms-submit .submit label {
        font-size: 21px;
    }
    .contact .form button .button__label.hover-label {
        left: 19% !important;
    }

    .contact .form .phone .code-input .container .value-code {
        font-size: 21px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1660px) {
    .contact .title-contact {
        width: 69%;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .contact .title-contact {
        width: 73.5%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .contact {
        padding: 118px 150px 144px 150px;
    }
    .contact .title-contact {
        width: 79%;
    }
}

@media only screen and (min-width: 1140px) and (max-width: 1279px) {
    .contact {
        padding: 118px 150px 144px 150px;
    }
    .contact .title-contact {
        width: 90%;
    }
    /* .contact .title-contact .figura-contacto {
        left: 74%;
    } */
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .contact {
        padding: 118px 34px 144px 34px;
    }
    .contact .title-contact {
        width: 81%;
        position: relative;
    }
    .contact .title-contact h2 {
        font-size: 62px;
        line-height: 70px;
        letter-spacing: -2.8px;
    }
    .contact .title-contact .flecha-roja {
        width: 24px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        top: 52%;
        height: 24px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .contact {
        padding: 118px 34px 144px 34px;
    }

    .contact .title-contact h2 {
        font-size: 62px;
        line-height: 70px;
        letter-spacing: -2.8px;
    }
    .contact .title-contact .flecha-roja {
        
        height: auto;
        width: 24px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        height: 24px;
    }

    .contact .form .name,
    .contact .form .email,
    .contact .form .phone, 
    .contact .form .message {
        width: 100%;
    }

    .contact .form .terms-submit {
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }
    .contact .form .terms-submit .terms {
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }
    .contact .form .terms-submit .submit {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 920px) and (max-width: 1023px) {
    .contact .title-contact {
        width: 91%;
        position: relative;
    }
}

@media only screen and (min-width: 833px) and (max-width: 919px) {
    .contact .title-contact {
        width: 91%;
        position: relative;
    }
}

@media only screen and (min-width: 768px) and (max-width: 832px) {
    .contact .title-contact {
        width: 100%;
        position: relative;
    }
    .contact .title-contact .flecha-roja {
        height: auto;
        width: 24px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        top: 52%;
    }
}

@media only screen and (min-width: 280px) and (max-width: 600px) {
    .contact {
        padding: 90px 16px 90px 16px;
    }
    .contact .title-contact {
        width: 100%;
        position: relative;
    }
    .contact .form .name,
    .contact .form .email,
    .contact .form .phone, 
    .contact .form .message {
        width: 100%;
    }
    .contact .form .terms-submit {
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }
    .contact .form .terms-submit .terms {
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }
    .contact .form .terms-submit .submit {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    .contact {
        padding: 79px 16px 90px 16px;
    }
    .contact .title-contact {
        width: 100%;
        position: relative;
    }
    .contact .title-contact h2 {
        font-size: 62px;
        line-height: 60px;
        letter-spacing: -1.8px;
    }
    .contact .title-contact .flecha-roja {
        height: auto;
        width: 24px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        top: 66%;
        height: 22px;
    }
}

@media only screen and (min-width: 525px) and (max-width: 599px) {
    .contact .title-contact h2 {
        font-size: 62px;
        line-height: 60px;
        letter-spacing: -1.8px;
    }
    .contact .title-contact .flecha-roja {
        left: 31%;
        height: auto;
        width: 18px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        top: 60%;
        left: 76%;
        height: 24px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 531px) {
    .contact .title-contact h2 {
        font-size: 44px;
        line-height: 48px;
        letter-spacing: -2.2px;
    }
    .contact .title-contact .flecha-roja {
        left: 30.5%;
        height: auto;
        width: 18px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        top: 65%;
        left: 78%;
        width: 42px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .contact .title-contact h2 {
        font-size: 44px;
        line-height: 48px;
        letter-spacing: -2.2px;
    }
    .contact .title-contact .flecha-roja {
        left: 30.5%;
        height: auto;
        width: 16px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        top: 65%;
        left: 78%;
        width: 42px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .contact .title-contact h2 {
        font-size: 38px;
        line-height: 40px;
        letter-spacing: -2px;
    }
    .contact .title-contact .flecha-roja {
        top: 50%;
        left: 30%;
        height: auto;
        width: 14px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        top: 55%;
        left: 75%;
        width: 43px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 319px) {
    .contact .title-contact h2 {
        font-size: 34px;
        line-height: 36px;
        letter-spacing: -2px;
    }
    .contact .title-contact .flecha-roja {
        top: 50%;
        left: 30%;
        height: auto;
        width: 14px;
    }
    .contact .title-contact .figura-contacto {
        position: absolute;
        top: 55%;
        left: 75%;
        width: 43px;
    }
}
  