
.meet-the-team {
    background: #101820;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding: 153px 15px 135px;
}

.meet-the-team .button-back {
    position: fixed;
    z-index: 6;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 48px 60px 105px 0;
}

.meet-the-team .img-text {
    text-align: center;
    padding-bottom: 8px;
    max-width: 190px;
    width: 190px;
}
.meet-the-team .img-text p {
    color: #FFF;
    text-align: center;
    font-family: 'Safiro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 36px;
}

.meet-the-team .the-team-image {
    padding-bottom: 24px;
}

.meet-the-team span.exito {
    padding-bottom: 29px;
}

.meet-the-team span {
    color: #ACB6C0;
    text-align: center;
    font-family: 'Safiro';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.meet-the-team span strong {
    color: #ACB6C0;
    font-family: 'Safiro';
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.meet-the-team span i {
    font-style: italic;
}

.meet-the-team .conoce {
    text-align: center;
    padding: 23px 0 41px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out;
}

.meet-the-team span.conoce-the-team {
    padding-bottom: 30px;
}

.meet-the-team span.conoce-the-team,
.meet-the-team .conoce span {
    color: #FFF;
    text-align: center;
    font-family: 'Safiro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.meet-the-team span.conoce-the-team strong,
.meet-the-team .conoce span strong {
    color: #FFF;
    font-family: 'Safiro';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.meet-the-team .conoce .name h1 {
    color: #FFF;
    text-align: center;
    font-family: "Golsuka Kadila";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 64px;
}

.meet-the-team .conoce span {
    color: #ACB6C0;
    text-align: center;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
}

.meet-the-team .logo-mad {
    padding-top: 102px;
}

.meet-the-team .button-back button {
    max-width: 95px;
    display: inline-flex;
    padding: 15px;
    font-size: 14px;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
    border: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.20);
    color: white;
    cursor: pointer;
    transition: ease-in 0.2s;
    text-decoration: none;
    flex-direction: row-reverse;
}

.meet-the-team .button-back button .button__label.hover-label {
    left: 40% !important;
}

.meet-the-team .button-back button img {
    transition: ease-in 0.2s;
}

.meet-the-team .button-back button:hover {
    border-radius: 5px;
}

.exito.animate__delay-1s {
    animation-delay: 500ms !important;
}
.conoce-the-team.animate__delay-1s {
    animation-delay: 600ms !important;

}

@media only screen and (min-width: 280px) and (max-width: 600px) {
    .meet-the-team .conoce .name h1 {
        color: #FFF;
        text-align: center;
        font-family: "Golsuka Kadila";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .meet-the-team .conoce {
        padding-bottom: 35px;
    }
}

@media only screen and (min-width: 555px) and (max-width: 899px) {

    .meet-the-team {
        padding-top: 120px;
    }

    .meet-the-team .button-back {
        padding-top: 24px;
    }

    .meet-the-team .button-back {
        padding-right: 32px;
    }

    .meet-the-team .the-team-image {
        padding: 0 130px 24px;
    }

    .meet-the-team span.conoce-the-team,
    .meet-the-team span {
        font-size: 16px;
    }

    .meet-the-team .conoce .name h1 {
        color: #FFF;
        text-align: center;
        font-family: "Golsuka Kadila";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 96px;
    }

    .meet-the-team .conoce .span {
        color: #ACB6C0;
        text-align: center;
        font-family: 'Safiro';
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 30px;
    }

    .meet-the-team .cargo {
        margin: -24px;
    }

    .meet-the-team .conoce {
        padding-bottom: 38px;
        padding-top: 0;
    }
}

@media only screen and (min-width: 280px) and (max-width: 554px) {
    .meet-the-team .button-back {
        padding-top: 24px;
    }
    
    .meet-the-team .button-back {
        padding-right: 16px;
    }

}
