.button {
  overflow: hidden;
  padding: 12px 12px 12px 12px;
  position: relative;
  transition: 0.2s ease-out;
  backdrop-filter: blur(10px);
}

@media (hover: hover) {
  .button.button--stroke:hover {
    color: #ffffff;
    text-decoration: none;
  }
  .button--stroke:hover:after {
    border-radius: 10px;
    border-color: var(border-color);
    
  }
}

.button--stroke:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.button--stroke:after {
  border-radius: 10px;
  content: "";
  pointer-events: none;
}

.button__label {
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: color 50ms var(--ease-in-out-quart);
}

.button--stroke:hover .button__label {
  transition: color 0.15s var(--ease-in-out-quart);
}

.button__flair {
  bottom: 0;
  left: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.button--stroke .button__flair {
  cursor: pointer;
  transform: scale(0);
  transform-origin: 0 0;
  will-change: transform;
}

.button__flair:before {
  aspect-ratio: 1/1;
  background-color: var(--flair-color);;
  border-radius: 50%;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  width: 170%;
}

.button label.button__label {
  opacity: 1;
  transform: translate(0%);
  transition: 0.2s ease-out;
}

.button:hover label.button__label {
  opacity: 0;
  transform: translate(0%, -100%);
  transition: 0.2s ease-out;
}

.button .texto {
  display: flex;
  flex-direction: column;
}

.button label.button__label.hover-label {
  opacity: 0;
  position: absolute;
  transform: translate(0%, 100%);
  transition: 0.2s ease-out;
}
.button:hover label.button__label.hover-label {
  opacity: 1;
  position: absolute;
  transform: translate(0%, 0%);
  transition: 0.2s ease-out;
}