
.clients {
    /* padding: 102px 0 102px 0; */
    background-color: white;
    position: relative;
    z-index: 3;
    overflow: hidden;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    transition: background-color .8s ease;
}

.clients h2 {
    color: #101820;
    transition: .8s ease;
    display: inline-block;
    line-height: 1;
    position: relative;
}

.clients .title-clients img.reveal,
.clients h2.reveal {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

/* .clients h2.reveal:after {
    background: url('/src/assets/figuras/figuraClientes.svg') no-repeat;
    background-size: 100%;
    content: '';
    position: absolute;
    right: -10%;
    top: 30%;
    height: 48px;
    width: 59px;
    z-index: 1;
} */

.clients .title-clients {
    margin: 0 0 41px 102px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.clients .slider-brands {
    display: flex;
    gap: 20px;
    /* will-change: transform;
    width: calc(100%); */
}

.clients .slider-brands.animation {
    animation: scroll-horizontal 60s linear infinite;
}

.clients .slider-brands .slider {
    padding: 14px 0px 14px 0px;
    border-radius: 10px;
    border: 1px solid rgba(16, 24, 32, 0.10);
    flex: 0 0 auto;
    width: 210px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.clients .slider-brands .slider .country,
.clients .slider-brands .slider .type {
    padding: 0 16px 0 16px;
}

.clients .slider-brands .slider .type {
    text-align: center;
}

.clients .slider-brands .slider .brand {
    padding: 33px 55px 34px 55px;
    text-align: center;
}

.clients .slider-brands .slider span {
    color: #7595B6;
    font-family: 'Safiro';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.clients .slider-brands .brand img {
    transition: ease .8s;
}

@keyframes scroll-horizontal {
    
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 20px));
    }
}

@media only screen and (min-width: 2048px) {
    .clients .title-clients h2 {
        font-size: 150px;
        line-height: 150px;
    }

    .clients .slider-brands .slider {
        width: 300px;
    }

    .clients .slider .brand img {
        width: 70%;
    }

    .clients .slider-brands .slider span {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (min-width: 1920px) {
       
}
@media only screen and (min-width: 280px) and (max-width: 1440px) {
    .clients .title-clients {
        margin: 0 0 40px 150px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .clients .title-clients {
        margin: 0 0 40px 150px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .clients .title-clients {
        margin: 0 0 40px 150px;
    }
}

@media only screen and (min-width: 1140px) and (max-width: 1279px) {
    .clients .title-clients {
        margin: 0 0 40px 80px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .clients .title-clients {
        margin: 0 0 40px 34px;
    }
}

@media only screen and (min-width: 920px) and (max-width: 1023px) {
    
}

@media only screen and (min-width: 280px) and (max-width: 1023px) {
    .clients .title-clients {
        margin: 0 0 46px 32px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 833px) {
    .clients .title-clients {
        margin: 0 0 46px 32px;
    }
    .clients h2 {
        font-size: 63px ;
    }
    .clients h2.reveal:after {
        right: -12%;
        top: 43%;
        width: 40px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 837px) {
    .clients {
        height: 60vh;
    }
}


@media only screen and (min-width: 280px) and (max-width: 525px) {
    .clients .title-clients {
        margin: 0 0 16px 22px;
    }
    .clients h2 {
        font-size: 44px ;
        letter-spacing: -2.2px;
    }
    .clients h2.reveal:after {
        right: -15px;
        top: 20px;
        width: 28px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {

    .clients .title-clients {
        margin-bottom: 32px;
    }
}