
.clientsMethod {
    padding: 0 0 150px 155px;
}

.clientsMethod .title h2 {
    color: #101820;
    font-family: 'Safiro';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -3.2px;
    padding-bottom: 72px;
}

.clientsMethod .title h2 strong {
    color: #101820;
    font-family: "Behind The Nineties";
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.92px;
}

.clientsMethod .buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 158px;
    padding-top: 52px;
    gap: 10px;
}

.clientsMethod .slick-track {
    display: flex !important;
    gap: 12px;
    width: 100% !important;
}


.clientsMethod .buttons button {
    gap: 0;
    border-radius: 100px;
}

.clientsMethod .buttons .btn-wrapper:first-child button img {
    transform: rotate(180deg);
}

.clientsMethod .buttons .btn-wrapper.disabled {
    opacity: 0.3;
    pointer-events: none;
}

@media only screen and (min-width: 280px) and (max-width: 1023px) {
    .clientsMethod {
        padding: 0 33px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 599px) {

    .clientsMethod {
        padding: 0 20px;
        overflow-x: hidden;
    }

    .clientsMethod .title br {
        display: none;
    }

    .clientsMethod .title h2 {
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -1.7px;
        padding-bottom: 27px;
    }

    .clientsMethod .sliderCardClients {
        max-width: 257px;
        padding: 31px 27px 25px 26px;
    }

    .clientsMethod .sliderCardClients .content p {
        font-size: 14px;
    }

    .clientsMethod .sliderCardClients .content .image .imageFooter p {
        font-size: 10px;
    }

    .clientsMethod .sliderCardClients .content .image img {
        width: 35px;
        height: 35px;
    }

    .clientsMethod .buttons {
        display: none;
    }
}

@media only screen and (min-width: 280px) and (max-width: 899px) {
    .clientsMethod {
        padding: 0 20px;
    }

    .clientsMethod .title br {
        display: none;
    }

    .clientsMethod .title h2 {
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -1.7px;
        padding-bottom: 27px;
    }

    .clientsMethod .sliderCardClients {
        width: 257px;
        height: 375px;
        padding: 31px 27px 25px 26px;
    }

    .clientsMethod .sliderCardClients .content p {
        font-size: 14px;
    }

    .clientsMethod .buttons {
        display: none;
    }
}