
.concept {
    padding: 142px 100px;
    text-transform: uppercase;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    
}

.concept .first-section {
    display: flex;
    max-width: 1200px;
    align-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.concept .second-section {
    margin-top: 66px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding-right: 10%;
}

.concept .second-section p {
    color: #101820;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.44px;
    text-transform: none;
    width: 52%;

}

.concept .second-section p strong {
    color: #101820;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.44px;
}

.concept .branding,
.concept .centered,
.concept .human {
    display: flex;
    align-items: center;
    gap: 39px;
    justify-content: flex-start;
}


.concept .second-section h5 {
    margin-top: 20px;
    color: #7595B6;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.concept .branding {
    display: flex;
    /* justify-content: flex-start; */
    
}

.concept .human,
.concept .centered {
    margin-bottom: 16px;
}

.concept .centered h1 {
    color: #101820;
    font-family: Safiro;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -7.5px;
}

.concept .human .video {
    width: 555px;
    max-width: 555px;
    max-height: 165px;
    height: 165px;
    flex-shrink: 0;
    overflow: hidden;

}

.concept .animationText {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.concept .centered .video {
    width: 325px;
    height: 165px;
    flex-shrink: 0;
    overflow: hidden;
}

.concept .centered .video video,
.concept .human .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.concept .human .text, 
.concept .centered .text,
.concept .branding .text {
    position: relative;
}

.concept h5 {
    text-transform: initial;
}

.concept .human img {
    position: absolute;
    left: 57%;
    top: 26%
}

.concept .centered .text img {
    position: absolute;
    bottom: -5%;
    right: 10%;
}
.concept .centered .text img:last-child {
    position: absolute;
    bottom: 0%;
    right: 3%;
}

.concept .branding img {
    position: absolute;
    top: 22%;
    left: 25%;
}

.concept .human .animation-video video.showVideo {
    animation: reveal-left 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;

}

.concept .centered .animation-video video.showVideo {
    animation: reveal-right 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.concept .branding .centro {
    animation: reveal .5s ease-in 0s;
}

.cssanimation, .cssanimation span {
    animation-duration: 0.5s !important;
    animation-fill-mode: backwards;
    display: flex;
}

.concept .leFadeInBottom span.animationText {
    animation: customLeFadeInBottom 400ms both;
}

.concept .text h1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.concept .text h1.leFadeInBottom {
    opacity: 1;
}


@media only screen and (min-width: 2048px) {
    .concept {
        padding: 142px 450px;
    }

    .concept .branding, 
    .concept .centered, 
    .concept .human {
        gap: 50px;
        justify-content: space-between;
    }

    .concept .human .video {
        width: 50%;
        max-width: 50%;
        max-height: 180px;
        height: 180px;
    }

    .concept .centered .video {
        width: 35%;
        max-width: 35%;
    }

    .concept .human img {
        position: absolute;
        left: 59%;
        top: 34%;
        scale: 1.2;
    }
    
    .concept .centered .text img {
        position: absolute;
        bottom: 5%;
        right: 12%;
        scale: 1.2;
    }
    .concept .centered .text img:last-child {
        position: absolute;
        bottom: 6%;
        right: 6.5%;
    }
    
    .concept .branding img {
        position: absolute;
        top: 32%;
        left: 26%;
        scale: 1.2;
    }

    .concept .branding .centro h5 {
        line-height: 50px;
    }

}

@media only screen and (min-width: 1500px) {
    
}

@media only screen and (min-width: 280px) and (max-width: 1440px) {

    .concept {
        padding: 90px 27px;
    }

    .concept .human img {
        position: absolute;
        left: 57%;
        top: 26%;
    }

    .concept .branding,
    .concept .centered,
    .concept .human {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .concept .centered .text img {
        position: absolute;
        bottom: -5%;
        right: 10%;
    }

    .concept .centered .text img:last-child {
        position: absolute;
        bottom: 0%;
        right: 3%;
    }

    .concept .branding .text img {
        position: absolute;
        top: 22%;
        left: 25%;
    }
}

@media only screen and (min-width: 280px) and (max-width: 1200px) {

    .concept {
        padding: 90px 27px;
    }

    .concept .branding, 
    .concept .centered, 
    .concept .human {
        justify-content: start;
    }

    .concept .human img {
        position: absolute;
        left: 56%;
        top: 25%;
        scale: 0.6;
    }

    .concept .centered .text img {
        position: absolute;
        bottom: -8%;
        right: 12%;
        scale: 0.8;
    }

    .concept .centered .text img:last-child {
        position: absolute;
        bottom: -9%;
        right: 6%;
        scale: 0.8;
    }

    .concept .branding .text img {
        position: absolute;
        top: 14%;
        left: 23.5%;
        scale: 0.6;
    }

}

@media only screen and (min-width: 280px) and (max-width: 1199px) {
    .concept .centered h1 {
        color: #101820;
        font-family: 'Safiro';
        font-size: 109px;
        font-style: normal;
        font-weight: 400;
        line-height: 109px;
        letter-spacing: -7.5px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 1023px) {
    
    .concept .branding,
    .concept .centered,
    .concept .human {
        display: flex;
        align-items: center;
        gap: 9px;
        justify-content: flex-start;
    }

    .concept .branding {
        display: flex;
        flex-wrap: nowrap;
    }

    .concept .branding .centro {
        width: 100%;
        text-align: end;
    }

    .concept .human .video {
        width: 373px;
        max-width: 373px;
        max-height: 113px;
        height: 113px;
        flex-shrink: 0;
    }
    
    .concept .centered .video {
        width: 230px;
        height: 113px;
        flex-shrink: 0;
    }
}

@media only screen and (min-width: 280px) and (max-width: 900px) {
    .concept {
        padding: 99px 22px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 280px) and (max-width: 833px) {
    .concept .video {
        display: none;
    }

    .concept .branding .video-mobile {
        display: block !important;
        width: 100%;
        max-height: 154px;
        height: 154px;
        border-radius: 10px;
    }

    .concept .branding .video-mobile video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .concept .branding {
        display: flex;
        flex-wrap: wrap;
    }

    .concept .branding .centro {
        display: none;
    }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {

    .concept .human img {
        position: absolute;
        left: 52%;
        top: 10%;
        scale: 0.5;
    }

    .concept .centered .text img {
        position: absolute;
        bottom: -28%;
        right: 1%;
        scale: 0.5;
    }

    .concept .centered .text img:last-child {
        position: absolute;
        bottom: -22%;
        right: -2%;
        scale: 0.5;
    }

    .concept .branding .text img {
        position: absolute;
        top: -3%;
        left: 20%;
        scale: 0.5;
    }

}

@media only screen and (min-width: 280px) and (max-width: 767px) {
    .concept .video {
        display: none;
    }

    .concept .second-section {
        padding: 0;
    }
    
    .concept .second-section p {
        width: 100%;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.396px;
    }

    .concept .second-section h5 {
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 3.2px;
        text-transform: uppercase;
    }

    .concept .branding .video-mobile {
        display: block !important;
        width: 100%;
        max-height: 154px;
        height: 154px;
        border-radius: 10px;
    }

    .concept .branding .video-mobile video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 524px) {
  
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .concept .human img {
        scale: 0.5;
    }
    .concept .centered .text img {
        scale: 0.5;
    }
    .concept .branding .text img {
        scale: 0.5;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .concept .human img {
        scale: 0.5;
    }
    .concept .centered .text img {
        scale: 0.5;
    }
    .concept .branding .text img {
        scale: 0.5;
    }
}

@media only screen and (min-width: 280px) and (max-width: 319px) {
    .concept .human img {
        scale: 0.5;
    }
    .concept .centered .text img {
        scale: 0.5;
    }
    .concept .branding .text img {
        scale: 0.5;
    }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {

    .concept .centered h1 {
        color: #101820;
        font-family: 'Safiro';
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: -7.5px;
    }

    .concept .human h1,
    .concept .branding h1 {
        color: #101820;
        font-family: 'Safiro';
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
    }

}