
.header {
    position: fixed;
    z-index: 1000;
    background: transparent;
    display: flex;
    padding: 46px 40px 0 40px;
    align-items:  center;
    justify-content: space-between;
    width: 100%;
}

.header.dark {
    color: #101820;
    font-family: Safiro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;;
}

.header .menu-items {
    display: inline-flex;
    padding: 10px 15px;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease; 
}

.header .menu-items div {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header .menu-items .menu-servicios:not(:last-child)::after,
.header.dark .menu-items a {
    color: #fff;
}

.header .menu-items a {
    color: #101820;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.header .menu-items span {
    display: flex;
    width: 1px;
    height: 24px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 13px;
    gap: 13px;
}

.header .menu-items a {
    position: relative;
    display: block;
    overflow: hidden;
}

.header .menu-items a label {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;;
    cursor: pointer;
}

.header .menu-items a label:first-child {
    display: inline-block;
}

.header .menu-items a label:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
}

.header .menu-items a:hover label:last-child,
.header .menu-items[data-animation] a:hover label:last-child {
    transform: none;
    opacity: 1;
}

.header .menu-items[data-animation="to-top"] a label:last-child {
    transform: translateY(100%);
    opacity: 0;
}
  
.header .menu-items[data-animation="to-top"] a:hover label:first-child {
    transform: translateY(-100%);
    opacity: 0;
}