
.header {
    position: fixed;
    z-index: 1000;
    background: transparent;
    display: flex;
    padding: 26px 40px 0 40px;
    align-items:  center;
    justify-content: space-between;
    width: 100%;
    
}

.header.dark {
    color: #101820;
    transition: ease-in .4s;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;;
}

.header .logo img {
    transition: all 0.3s ease;
}

.header .menu-items {
    display: inline-flex;
    padding: 10px 15px;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease; 
}

.header .menu-items div {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header .logo-centered {
    border-radius: 10px;
    background: rgba(16, 24, 32, 0.50);
    backdrop-filter: blur(10px);
}

.header .menu-items .menu-logo {
    padding: 0;
}

.header .menu-items .menu-logo img {
    margin-top: 3px;
}

.header .menu-items .menu-servicios:not(:last-child)::after,
.header.dark .menu-items a {
    color: #fff;
    transition: ease-in .4s;
}

.header .menu-items-mobile a,
.header .menu-items a {
    transition: ease-in .4s;
    color: #101820;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.header .menu-items.logo-centered a {
    color: white;
}

.header .menu-items span {
    display: flex;
    width: 1px;
    height: 24px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 13px;
    gap: 13px;
}

.header .menu-items.logo-centered span {
    background: white;
}

.header.dark .menu-items span {
    background: rgba(255, 255, 255, 0.30);
}

.header .menu-items a {
    position: relative;
    display: block;
    overflow: hidden;
}

.header .menu-items a label {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    cursor: pointer;
}

.header .menu-items a label:first-child {
    display: inline-block;
}

.header .menu-items a label:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
}

.header .menu-items a:hover label:last-child,
.header .menu-items[data-animation] a:hover label:last-child {
    transform: none;
    opacity: 1;
}

.header .menu-items[data-animation="to-top"] a label:last-child {
    transform: translateY(100%);
    opacity: 0;
}
  
.header .menu-items[data-animation="to-top"] a:hover label:first-child {
    transform: translateY(-100%);
    opacity: 0;
}

.header .menu-items-mobile {
    display: none;
    padding: 10px 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header .menu-items-mobile ul {
    margin: 0;
    padding: 0;
}

.header .close a,
.header .menu-items-mobile li {
    cursor: pointer;
    list-style: none;

    padding: 10px; 
}

.header.dark .menu-items-mobile a,
.header.dark .menu-items-mobile {
    text-decoration: none;
    color: white;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    flex-direction: column;

    width: 50px;
    height: 50px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(20px);
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 2px 0;
}

.header .close {
    text-align: end;
}

.header .menu-items-mobile .submenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width: 280px) and (max-width: 834px) {
    .header .menu-items {
        display: none;
    }

    .header .menu-items-mobile {
        display: block;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .menu-toggle {
        display: flex;
    }

}

@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.move-logo {
    transform: translateX(calc(45vw - 50%));
    opacity: 0;
}

.move-menu {
    transform: translateX(calc(-50vw + 50% + 40px));
}
