
.sliderCardClients {
    max-width: 440px;
    max-height: 416px;
    flex-shrink: 0;
    border-radius: 10px;
    width: 440px;
    height: 416px;
    display: flex;
    padding: 48px 45px 37px 40px;
    gap: 20px;

}

.sliderCardClients .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.sliderCardClients .content p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.396px;
}

.sliderCardClients .content .image .line {
    margin-bottom: 24px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.50);
}

.sliderCardClients .content .image .imageFooter {
    display: flex;
    gap: 13px;
}

.sliderCardClients .content .image .imageFooter p {
    color: #B8AAFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    letter-spacing: -0.264px;
}