
.footer,
.pre-footer {
    background-color: white;
    position: relative;
    z-index: 3;
    transition: background-color .8s ease;
}

.pre-footer .siguenos,
.pre-footer .stalkeanos,
.pre-footer .talento {
    padding: 40px 120px 40px 120px;
    display: flex;
    align-items: center;
}

.pre-footer .escribenos {
    display: flex;
    padding: 75px 120px 61px 120px;
    align-items: center;
}

.pre-footer .siguenos p,
.pre-footer .stalkeanos p,
.pre-footer .talento p,
.pre-footer .escribenos p {
    color: #7595B6;
    font-family: 'Safiro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.pre-footer .siguenos p strong,
.pre-footer .stalkeanos p strong,
.pre-footer .talento p strong,
.pre-footer .escribenos p strong {
    color: #101820;
    font-family: 'Safiro';
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.pre-footer	.siguenos .container,
.pre-footer .stalkeanos .container,
.pre-footer .talento .container,
.pre-footer .escribenos .container {
    width: 50%;
}

.pre-footer	.siguenos .container div,
.pre-footer .stalkeanos .container div,
.pre-footer .talento .container div,
.pre-footer .escribenos .container div {
    overflow: hidden;
    height: fit-content;
}

.pre-footer .talento a,
.pre-footer .escribenos a {
    color: #101820;
    font-family: 'Safiro';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -2.4px;
    cursor: pointer;
    text-decoration: none;
}

.pre-footer .siguenos .container div:hover:nth-child(odd) a,
.pre-footer .stalkeanos .container div:hover:nth-child(even) a,
.pre-footer .talento .container.text:hover a {
    color: #355372;
    font-family: 'Safiro';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -2.4px;
    transition: ease 0.5s;
}
.pre-footer .siguenos .container div:hover:nth-child(even) a,
.pre-footer .stalkeanos .container div:hover:nth-child(odd) a,
.pre-footer .escribenos .email:hover a,
.pre-footer .escribenos .container.text div:hover a {
    color: #7595B6;
    font-family: 'Safiro';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -2.4px;
    transition: ease 0.5s;
}

.pre-footer .siguenos .container div:hover:nth-child(odd) a,
.pre-footer .siguenos .container div:hover:nth-child(even) a,
.pre-footer .stalkeanos .container div:hover:nth-child(odd) a,
.pre-footer .stalkeanos .container div:hover:nth-child(even) a {
    letter-spacing: normal;
}


.pre-footer .siguenos .stalk,
.pre-footer .stalkeanos .stalk {
    gap: 40px;
    display: flex;
    height: fit-content;
    overflow: hidden;
}

.pre-footer .siguenos a,
.pre-footer .stalkeanos a {
    color: #101820;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.footer {
    padding: 98px 43px 17px 43px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer .texto-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 89px;
}

.footer .texto-footer a,
.footer .texto-footer span {
    color: #ACB6C0;
    text-align: center;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    transition: ease 0.5s;
}

.footer .texto-footer a {
    cursor: pointer;

    text-decoration: underline;
}

.footer .texto-footer a:hover {
    color: #101820;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* .pre-footer .line-loading {
    height: 1px;
    display: flex;
    width: 100%;
    background: black;
} */

.line-loading {
    height: 1px;
    width: 100%;
    background: transparent;
    overflow: hidden;
    position: relative;
    display: block;
}

.line-loading::before {
    content: '';
    position: absolute;
    height: 0.5px;
    width: 100%;
    background: #101820;
    left: -100%;
    animation: loading 3s linear forwards;
}

@keyframes loading {
    0% {
        left: -100%;
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 0;
        width: 100%;
    }
}

.escribenos,
.talento,
.stalkeanos,
.siguenos {
    opacity: 0;
}

.hidden {
    /* display: none; */
    visibility: hidden;
}

.reveal {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in;
}

.reveal p, .reveal a {
    opacity: 1;
}

.footer img.reveal {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.footer .texto-footer .reveal {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.footer .texto-footer .terms-condition {
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: color 50ms var(--ease-in-out-quart);
}

.pre-footer.footer-hidden {
    background-color: #101820;
}

.pre-footer.footer-hidden .escribenos a,
.pre-footer.footer-hidden .escribenos p strong {
    color: white;
}

.footer .texto-footer {
    display: flex;
    padding-top: 60px;
    align-items: center;
}

.footer .texto-footer ul {
    margin: 0;
    padding: 0;
    position: relative;
    
}

.footer .texto-footer ul li {
    color: #ACB6C0;
    display: initial;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    
}

.footer .texto-footer ul.meeting-footer {
    display: flex;
    width: 33.333%;
    justify-content: flex-start;
}

.footer .texto-footer ul.meeting-footer li:nth-child(1) {
    margin-right: 15px;
    padding-right: 15px;
}
.footer .texto-footer ul.meeting-footer li:nth-child(1):after {
    content: '';
    background: #ACB6C0;
    height: 12px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 8px;
}

.footer .texto-footer ul.cities-footer {
    display: flex;
    justify-content: center;
    width: 33.333%;
}
.footer .texto-footer ul.cities-footer li:nth-child(2) {
    margin: 0 15px;
    padding: 0 15px;
}
.footer .texto-footer ul.cities-footer li:nth-child(2):before {
    content: '';
    background: #ACB6C0;
    height: 12px;
    width: 1px;
    position: absolute;
    left: 0;
    top: 8px;
}
.footer .texto-footer ul.cities-footer li:nth-child(2):after {
    content: '';
    background: #ACB6C0;
    height: 12px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 8px;
}

.footer .texto-footer ul.terms-footer {
    display: flex;
    width: 33.333%;
    justify-content: flex-end;
}

.footer .texto-footer ul.terms-footer a label {
    cursor: pointer;
}

.footer .texto-footer .terms-footer div {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pre-footer .siguenos .container.stalk div,
.pre-footer .stalkeanos .container.stalk div,
.pre-footer .talento .container.text div,
.pre-footer .escribenos .container.text div {
    position: relative;
    display: block;
    overflow-y: hidden;
    overflow-x: visible;
    width: max-content;
}

.pre-footer .siguenos .container.stalk div a,
.pre-footer .stalkeanos .container.stalk div a,
.pre-footer .talento .container.text div a,
.pre-footer .escribenos .container.text div a {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    cursor: pointer;
}

.pre-footer .siguenos .container.stalk div a:first-child,
.pre-footer .stalkeanos .container.stalk div a:first-child,
.pre-footer .talento .container.text div a:first-child,
.pre-footer .escribenos .container.text div a:first-child {
    display: inline-block;
}

.pre-footer .siguenos .container.stalk div a:last-child,
.pre-footer .stalkeanos .container.stalk div a:last-child,
.pre-footer .talento .container.text div a:last-child,
.pre-footer .escribenos .container.text div a:last-child {
    position: absolute;
    top: 0;
    /* right: 0; */
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
}

.pre-footer .siguenos .container.stalk div:hover a:last-child,
.pre-footer .siguenos .container.stalk[data-animation] div:hover a:last-child,
.pre-footer .stalkeanos .container.stalk div:hover a:last-child,
.pre-footer .stalkeanos .container.stalk[data-animation] div:hover a:last-child,
.pre-footer .talento .container.text div:hover a:last-child,
.pre-footer .talento .container.text[data-animation] div:hover a:last-child,
.pre-footer .escribenos .container.text div:hover a:last-child,
.pre-footer .escribenos .container.text[data-animation] div:hover a:last-child {
    transform: none;
    opacity: 1;
}

.pre-footer .siguenos .container.stalk[data-animation="to-top"] div a:last-child,
.pre-footer .stalkeanos .container.stalk[data-animation="to-top"] div a:last-child,
.pre-footer .talento .container.text[data-animation="to-top"] div a:last-child,
.pre-footer .escribenos .container.text[data-animation="to-top"] div a:last-child {
    transform: translateY(100%);
    opacity: 0;
}
  
.pre-footer .siguenos .container.stalk[data-animation="to-top"] div:hover a:first-child,
.pre-footer .stalkeanos .container.stalk[data-animation="to-top"] div:hover a:first-child,
.pre-footer .talento .container.text[data-animation="to-top"] div:hover a:first-child,
.pre-footer .escribenos .container.text[data-animation="to-top"] div:hover a:first-child {
    transform: translateY(-100%);
    opacity: 0;
}


@media only screen and (max-width: 1024px) {

    .pre-footer .container.text a {
        font-family: 'Safiro';
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: -2.4px;
        transition: ease 0.5s;

    }

    .pre-footer .container.text a:hover {
        color: #FF2951;
        font-family: 'Safiro';
        font-style: normal;
        font-weight: 400;
        letter-spacing: -2.4px;
        transition: ease 0.5s;

    }

    .pre-footer .talento .container.text a:hover {
        color: #2A00FF;
        font-family: 'Safiro';
        font-style: normal;
        font-weight: 400;
        letter-spacing: -2.4px;
        transition: ease 0.5s;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 1400px) {
}

@media only screen and (min-width: 1440px) and (max-width: 1660px) {
    
}

@media only screen and (min-width: 2048px) {
    .pre-footer .siguenos p strong, 
    .pre-footer .stalkeanos p strong,
    .pre-footer .talento p strong,
    .pre-footer .escribenos p strong {
        font-size: 24px;
    }

    .pre-footer .siguenos p, 
    .pre-footer .stalkeanos p,
    .pre-footer .talento p,
    .pre-footer .escribenos p {
        font-size: 21px;
    }

    .pre-footer .talento a,
    .pre-footer .escribenos a {
        font-size: 64px;
        line-height: 74px;
    }

    .pre-footer .siguenos a,
    .pre-footer .stalkeanos a {
        font-size: 16px;
    }

    .footer .texto-footer ul li a:hover,
    .footer .texto-footer ul li a,
    .footer .texto-footer ul li {
        font-size: 21px;
    }
    
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .pre-footer .siguenos,
    .pre-footer .stalkeanos,
    .pre-footer .talento,
    .pre-footer .escribenos {
        padding: 80px 140px;
        align-items: center;
    }
}

@media only screen and (min-width: 1140px) and (max-width: 1279px) {
    .pre-footer .siguenos,
    .pre-footer .stalkeanos,
    .pre-footer .talento,
    .pre-footer .escribenos {
        padding: 80px 100px;
        align-items: center;
    }

    .footer .texto-footer {
        display: flex;
        padding-top: 30px;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer .texto-footer ul.meeting-footer {
        width: 50%;
        justify-content: flex-start;
        order: 2;
    }
    .footer .texto-footer ul.cities-footer {
        justify-content: center;
        order: 1;
        margin: 0 0 70px 0;
        width: 100%;
    }
    .footer .texto-footer ul.terms-footer {
        order: 3;
        width: 50%;
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1139px) {
    .pre-footer .siguenos,
    .pre-footer .stalkeanos,
    .pre-footer .talento,
    .pre-footer .escribenos {
        padding: 70px 100px;
        align-items: center;
    }

    .footer .texto-footer {
        display: flex;
        padding-top: 30px;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer .texto-footer ul.meeting-footer {
        width: 50%;
        justify-content: flex-start;
        order: 2;
    }
    .footer .texto-footer ul.cities-footer {
        justify-content: center;
        order: 1;
        margin: 0 0 70px 0;
        width: 100%;
    }
    .footer .texto-footer ul.terms-footer {
        order: 3;
        width: 50%;
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .pre-footer .siguenos,
    .pre-footer .stalkeanos,
    .pre-footer .talento,
    .pre-footer .escribenos {
        padding: 80px 35px;
        align-items: center;
    }
    .pre-footer .talento a, .pre-footer .escribenos a {
        font-size: 38px;
        line-height: 40px;
    }

    .footer .texto-footer {
        display: flex;
        padding-top: 30px;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer .texto-footer ul.meeting-footer {
        width: 50%;
        justify-content: flex-start;
        order: 2;
    }
    .footer .texto-footer ul.cities-footer {
        justify-content: center;
        order: 1;
        margin: 0 0 70px 0;
        width: 100%;
    }
    .footer .texto-footer ul.terms-footer {
        order: 3;
        width: 50%;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 1280px) {

    .pre-footer .siguenos, 
    .pre-footer .stalkeanos,
    .pre-footer .talento,
    .pre-footer .escribenos {
        padding: 80px 34px 80px 34px;
    }
    
}

@media only screen and (min-width: 280px) and (max-width: 828px) { 
   
   
    .pre-footer .siguenos,
    .pre-footer .stalkeanos,
    .pre-footer .talento,
    .pre-footer .escribenos {
        flex-wrap: wrap;
        padding: 66px 16px;
        gap: 15px;
    }

    .pre-footer .siguenos .container,
    .pre-footer .stalkeanos .container,
    .pre-footer .talento .container,
    .pre-footer .escribenos .container {
        width: 100%;
    }


}

@media only screen and (min-width: 601px) and (max-width: 1023px) {

    .pre-footer .siguenos .container,
    .pre-footer .stalkeanos .container,
    .pre-footer .talento .container,
    .pre-footer .escribenos .container {
        width: 100%;
    }

    .pre-footer .siguenos .container,
    .pre-footer .stalkeanos .container,
    .pre-footer .talento .container.first-container,
    .pre-footer .escribenos .container.first-container {
        width: 50%;
    }

    .pre-footer .siguenos .container.stalk,
    .pre-footer .stalkeanos .container.stalk {
        width: 100%;
    }
   
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {


    .pre-footer .siguenos .container,
    .pre-footer .stalkeanos .container,
    .pre-footer .talento .container,
    .pre-footer .escribenos .container {
        width: 100%;
    }
    
    .pre-footer .siguenos .container,
    .pre-footer .stalkeanos .container,
    .pre-footer .talento .container.first-container,
    .pre-footer .escribenos .container.first-container {
        width: 50%;
    }

    .pre-footer .siguenos .container.stalk,
    .pre-footer .stalkeanos .container.stalk {
        width: 100%;
    }
}

@media only screen and (min-width: 280px) and (max-width: 600px) {

    .pre-footer .siguenos .container.text a,
    .pre-footer .stalkeanos .container.text a,
    .pre-footer .talento .container.text a,
    .pre-footer .escribenos .container.text a  {
        font-size: 24px;
    }

    .pre-footer .siguenos, .pre-footer .stalkeanos,
    .pre-footer .talento, .pre-footer .escribenos {
        flex-direction: column;
        padding: 66px 16px;
        gap: 15px;
    }
    .pre-footer .siguenos p, .pre-footer .stalkeanos p,
    .pre-footer .talento p, .pre-footer .escribenos p {
        width: 100%;
    }
    .pre-footer .talento a,
    .pre-footer .escribenos a {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -1px;
    }
    .pre-footer .siguenos div,
    .pre-footer .stalkeanos div {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .pre-footer .stalkeanos,
    .pre-footer .siguenos {
        align-items: start;
    }
    .footer {
        padding: 85px 0 50px 0;
    }
    .footer .texto-footer {
        display: flex;
        padding-top: 30px;
        align-items: center;
        flex-direction: column;
        gap: 0px;
    }
    .footer .texto-footer ul.meeting-footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        order: 2;
        width: 100%;
        padding-top: 10px;
    }
    .footer .texto-footer ul.meeting-footer li:nth-child(1) {
        margin: 0;
        padding: 0;
    }
    .footer .texto-footer ul.meeting-footer li:nth-child(1):after {
        display: none;
    }
    .footer .texto-footer ul.cities-footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        order: 1;
        margin-bottom: 20px;
    }
    .footer .texto-footer ul.cities-footer li {
        margin: 0;
        padding: 0;
    }
    .footer .texto-footer ul.cities-footer li:before,
    .footer .texto-footer ul.cities-footer li:after {
        display: none;
    }

    .footer .texto-footer ul.terms-footer {
        width: 100%;
        justify-content: center;
        order: 3;
    }

    .footer .texto-footer .terms-footer div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .footer .texto-footer .terms-footer div span {
       display: none;
    }

    .footer .texto-footer .terms-footer div a {
       padding-top: 10px;
    }
}



@media only screen and (min-width: 280px) and (max-width: 1365px) {

    .pre-footer .siguenos,
    .pre-footer .stalkeanos,
    .pre-footer .talento {
        padding-top: 45px;
        padding-bottom: 45px;
        display: flex;
        align-items: center;
    }

}

@media only screen and (min-width: 280px) and (max-width: 600px) {

    .pre-footer .siguenos,
    .pre-footer .stalkeanos,
    .pre-footer .talento {
        padding-top: 45px;
        padding-bottom: 45px;
        display: flex;
        align-items: center;
    }

    .pre-footer .escribenos {
        display: flex;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .pre-footer .siguenos div,
    .pre-footer .stalkeanos div {
        gap: 0;
    }

    .pre-footer .container.stalk {
        padding-top: 19px;
    }

}


@media only screen and (min-width: 600px) and (max-width: 767px) {
    
}

@media only screen and (min-width: 525px) and (max-width: 599px) {
    
}

@media only screen and (min-width: 425px) and (max-width: 524px) {
    
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    
}

@media only screen and (min-width: 280px) and (max-width: 319px) {
    
}