.trustUs {
    padding: 133px 155px 200px 155px;
}

.trustUs .title {
    padding-bottom: 48px;
}

.trustUs .title h2 {
    color: #101820;
    font-family: 'Safiro';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -3.2px;
}

.trustUs .title h2 strong {
    color: #101820;
    font-family: "Behind The Nineties";
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.92px;
}

.trustUs .columns-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.columns-grid > div {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  overflow: hidden;
}

.columns-grid img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 17px;
}

.trustUs .columns-grid p,
.trustUs .columns-grid h2 {
    padding-left: 31px;
}

.trustUs .columns-grid p {
    color: #101820;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.36px;
}

.trustUs .columns-grid p strong {
    color: #101820;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.36px;
}

.trustUs .columns-grid h2 {
    color: #101820;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Behind The Nineties";
    font-size: 28px;
    font-style: italic;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.56px;
    padding-bottom: 8px;
}

@media only screen and (min-width: 280px) and (max-width: 1023px) {
    .trustUs {
        padding: 79px 33px 70px;
    } 
}

@media only screen and (min-width: 280px) and (max-width: 599px) {

    .trustUs {
        padding: 79px 22px 70px 22px;
    }   

    .trustUs .title h2 {
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -1.7px;
    }

    .trustUs .columns-grid {
        flex-direction: column;
    }

    .trustUs .columns-grid h2 {
        font-size: 24px;
    }

}

@media only screen and (min-width: 280px) and (max-width: 899px) {

    .trustUs {
        padding: 79px 20px 70px;
    }   

    .trustUs .title h2 {
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -1.7px;
    }

    .trustUs .columns-grid {
        flex-direction: column;
    }

    .trustUs .columns-grid h2 {
        font-size: 24px;
    }

    .trustUs .columns-grid > div {
        overflow: visible;
    }

}
