
.howDoIt {
    padding: 0 0 157px 0;
}

.howDoIt .title {
    padding: 0 131px 53px 153px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.howDoIt .title h2 {
    color: #101820;
    font-family: 'Safiro';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -3.2px;
}

.howDoIt .title h2 strong {
    color: #101820;
    font-family: "Behind The Nineties";
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.92px;
}

.howDoIt .title span {
    color: #86A6C5;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.28px;
}

.howDoIt .hero {
    position: relative;
    width: 100%;
}

.howDoIt .cardSection .humanCentered .content,
.howDoIt .hero .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.howDoIt .hero .content h1 {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-top: 31px;
}

.howDoIt .humanCentered {
    padding: 65px 155px 65px 153px;
}

.howDoIt .humanCentered h2 {
    color: #101820;
    font-family: 'Safiro';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.72px;
}

.howDoIt .humanCentered h2 strong {
    color: #101820;
    font-family: "Behind The Nineties";
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.72px;
}

.howDoIt .items {
    position: relative;
    margin: 0 0 113px 0;
}

.howDoIt .items::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #101820;
    z-index: 1;
}

.howDoIt .cols {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 150px 0 155px;
    gap: 76px;
}

.howDoIt .items .col-one,
.howDoIt .items .col-two,
.howDoIt .items .col-three {
    /* height: 48px; */
    border-radius: 10px;
    /* background: red; */
    flex-direction: column;
    max-width: 325px;
    z-index: 2;
    display: flex;
    align-items: flex-start;
}

.howDoIt .items .col-one img,
.howDoIt .items .col-two img,
.howDoIt .items .col-three img {
    width: 64px;
    height: 64px;
}


.howDoIt .items h2 {
    color: #101820;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Behind The Nineties";
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.64px;
    padding-bottom: 10px;
}

.howDoIt .items span {
    padding-top: 32px;
    color: #86A6C5;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.28px;
}

.howDoIt .cardSection {
    padding: 0 150px 0 155px;
    display: flex;
    gap: 20px;
}

.howDoIt .cardSection .card {
    padding: 35px 63px 36px 52px;
    border-radius: 10px;
    background: #101820;
    max-width: 400px;
    max-height: 344px;
    height: 344px;
    display: flex;
}

.howDoIt .cardSection .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.howDoIt .cardSection .card .content h2 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Behind The Nineties";
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.64px;
}

.howDoIt .cardSection .card .content p {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.36px;
}

.howDoIt .cardSection .humanCentered {
    padding: 0 0 0 0;
    position: relative;
    overflow: hidden;
}

.howDoIt .cardSection .humanCentered .content {
    padding: 0px 75px 0px 95px;
}

.howDoIt .cardSection .humanCentered img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.howDoIt .cardSection .humanCentered p {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.36px;
}

.howDoIt .cardSection .humanCentered h3 {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Safiro';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.56px;
}

.howDoIt .cardSection .humanCentered button {
    display: flex;
    width: 229px;
    height: 54px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    color: #101820;
    border-radius: 50px;
}

.howDoIt .cardSection .humanCentered button:hover {
    color: white;
}

@media only screen and (min-width: 280px) and (max-width: 1200px) {

    .howDoIt .cardSection .card {
        max-width: 331px;
        padding: 23px 20px 35px 28px;

    }

    .howDoIt .cardSection .humanCentered .content {
        padding: 58px 0px 54px 0px;
    }

    .howDoIt .items {
        margin-bottom: 56px;
    }

}

@media only screen and (min-width: 280px) and (max-width: 1023px) {

    .howDoIt .cardSection {
        padding: 0 100px 0 100px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 899px) {

    .howDoIt .title {
        padding: 22px 80px;
    }

    .howDoIt .title h2 {
        font-size: 34px;
    }

    .howDoIt .title span {
        font-size: 9px;
    }

    .howDoIt .hero .content h1 {
        font-size: 12px;
        padding-top: 9px;
    }

    .howDoIt .humanCentered {
        padding: 32px 80px 51px;
    }

    .howDoIt .humanCentered h2 {
        font-size: 20px;
    }

    .howDoIt .cols {
        flex-wrap: wrap;
        padding: 0px;
        gap: 20px;
        position: relative;
    }

    .howDoIt .cols div {
        padding: 0px 22px 51px 80px;
    }

    .howDoIt .items .cols div {
        position: relative;
    }

    .howDoIt .items::before {
        content: "";
        width: 0;
    }

    .howDoIt .items .cols div::before {
        content: "";
        position: absolute;
        top: 25px;
        left: 0;
        width: 100dvw;
        height: 1px;
        background: #101820;
        z-index: -1;
    }

    .howDoIt .items .cols img {
        width: 48px;
        height: 48px;
        aspect-ratio: 1/1;
    }

    .howDoIt .cardSection {
        padding: 0px 80px;
    }

    .howDoIt .cardSection .humanCentered .content {
        padding: 64px 28px 61px 28px;
    }

    .howDoIt .cardSection .card .content p,
    .howDoIt .cardSection .humanCentered .content p {
        font-size: 16px;
    }

    .howDoIt .cardSection .humanCentered .content h3 {
        font-size: 24px;
    }

    .howDoIt .cardSection {
        flex-wrap: wrap;
    }

    .howDoIt .cardSection .humanCentered img:first-child {
        min-height: 350px;
    }


}

@media only screen and (min-width: 280px) and (max-width: 599px) {

    .howDoIt {
        padding-bottom: 99px;
    }

    .howDoIt .title {
        padding: 22px 22px;
    }

    .howDoIt .hero img.background {
        height: 162px;
        object-fit: cover;
    }

    .howDoIt .humanCentered {
        padding: 32px 22px 51px;
    }

    .howDoIt .humanCentered h2 {
        font-size: 20px;
    }

    .howDoIt .cols {
        padding: 0px 0px;
    }

    .howDoIt .cols div {
        padding: 0px 22px 51px;
    }

    .howDoIt .cardSection {
        flex-wrap: wrap;
        padding: 0 22px;
    }

    .howDoIt .cardSection .card {
        max-width: 100%;
    }

    .howDoIt .cardSection .humanCentered img:first-child {
        min-height: 400px;
    }
}
