@font-face {
  font-family: 'Safiro';
  src: url('./assets/fonts/safiro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Safiro';
  src: url('./assets/fonts/safiro-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Safiro';
  src: url('./assets/fonts/safiro-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Safiro';
  src: url('./assets/fonts/safiro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Safiro';
  src: url('./assets/fonts/safiro-regularitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Safiro';
  src: url('./assets/fonts/safiro-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Safiro';
  src: url('./assets/fonts/safiro-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Safiro';
  src: url('./assets/fonts/safiro-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Golsuka Kadila';
  src: url('./assets/fonts/Golsuka-Kadila.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golsuka';
  src: url('./assets/fonts/Golsuka-Kadila.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
